<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scheme</key>
	<string>https</string>
	<key>host</key>
	<string>testapi-11cc3-657ec.firebaseio.com</string>
	<key>GetUser</key>
	<string>/users.json</string>
	<key>GetZones</key>
	<string>/parkingZones.json</string>
	<key>CreateUser</key>
	<string>/users.json</string>
	<key>CreateParkingAction</key>
	<string>/parkingActions.json</string>
	<key>PatchParkingAction</key>
	<string>/parkingActions/userId.json</string>
	<key>GetParkingAction</key>
	<string>/parkingActions.json</string>
	<key>PostNewZone</key>
	<string>/parkingZones.json</string>
	<key>PostNewVehicle</key>
	<string>/vehicles.json</string>
	<key>GetVehicle</key>
	<string>/vehicles.json</string>
</dict>
</plist>
